<!-- car_details.html -->

{% extends 'base.html' %}

{% block title %}Car Details{% endblock %}

{% block content %}

<style>
    .table .thead-dark th {
        color: #fff;
        background-color: #f5b115 !important;
        border-color: #f5b115 !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #f5b115 !important;
        border-color: #f5b115 !important;
    }
</style>

<div class="container mt-5">
    <h2 class="mb-4">Car Details</h2>
    <div>
        <p><strong>Model Year:</strong> {{ car_info.model_year }}</p>
        <p><strong>Make:</strong> {{ car_info.make }}</p>
        <p><strong>Model:</strong> {{ car_info.car_model }}</p>
        <p><strong>Vehicle Class:</strong> {{ car_info.vehicle_class }}</p>
        <!-- Add other fields as needed -->
    </div>

    <!-- Table for selecting similar cars -->
    <h2 class="mt-5 mb-3">Select Similar Cars</h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Select</th>
                <th>Model Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Vehicle Class</th>
                <th>Engine Size</th>
                <th>Cylinders</th>
                <th>Transmission</th>
                <th>Fuel Type</th>
                <th>City (L/100 km)</th>
                <th>Highway (L/100 km)</th>
                <th>Combined (L/100 km)</th>
                <th>Combined (mpg)</th>
                <th>CO2 Emission (g/km)</th>
                <th>CO2 Rating</th>
                <th>Smog Rating</th>
                <th>Motor (kW)</th>
                <th>City (kWh/100 km)</th>
                <th>Highway (kWh/100 km)</th>
                <th>Combined (kWh/100 km)</th>
                <th>Range 1 (km)</th>
                <th>Recharge Time (h)</th>
                <th>Fuel Type 2</th>
                <th>Range 2 (km)</th>
                <th>Combined PHEV (Le/100 km)</th>
                <th>Vehicle Type</th>
            </tr>
        </thead>
        <tbody>
            {% for similar_car in similar_cars %}
            <tr>
                <td><a href="{% url 'compare_cars' car_info.id similar_car.id %}" class="btn btn-primary">Select</a></td>
                <td>{{ similar_car.model_year }}</td>
                <td>{{ similar_car.make }}</td>
                <td>{{ similar_car.car_model }}</td>
                <td>{{ similar_car.vehicle_class }}</td>
                <td>{{ similar_car.engine_size }}</td>
                <td>{{ similar_car.cylinders }}</td>
                <td>{{ similar_car.transmission }}</td>
                <td>{{ similar_car.fuel_type }}</td>
                <td>{{ similar_car.city }}</td>
                <td>{{ similar_car.highway }}</td>
                <td>{{ similar_car.combined }}</td>
                <td>{{ similar_car.combined_mpg }}</td>
                <td>{{ similar_car.CO2_Emission }}</td>
                <td>{{ similar_car.CO2_Rating }}</td>
                <td>{{ similar_car.smog_rating }}</td>
                <td>{{ similar_car.motor }}</td>
                <td>{{ similar_car.city_kWh }}</td>
                <td>{{ similar_car.highway_kWh }}</td>
                <td>{{ similar_car.combined_kWh }}</td>
                <td>{{ similar_car.range }}</td>
                <td>{{ similar_car.recharge_time }}</td>
                <td>{{ similar_car.fuel_type2 }}</td>
                <td>{{ similar_car.range2 }}</td>
                <td>{{ similar_car.combined_PHEV }}</td>
                <td>{{ similar_car.vehicle_type }}</td>
                <!-- Add other fields as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
