<!-- dashboard.html -->

{% extends 'base.html' %}

{% block title %}Car Information Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h5>Top 10 Mean CO2 Emissions by Brand</h5>
            <div class="image-container">
                {{ top_html|safe }}
            </div>
        </div>
        <div class="col-md-6">
            <h5>Bottom 10 Mean CO2 Emissions by Brand</h5>
            <div class="image-container">
                {{ bottom_html|safe }}
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h5 class="text-center">Average CO2 Emissions by Fuel Type and Year</h5>
            <div class="d-flex justify-content-center">
                <div class="graph-container" style="width: 100%;">
                    {{ co2_emission_html|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
